.top-section{
  width: 100%;
  height: 60vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Images/about1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }
  .top-section p{
    font-weight: 600;
      font-size: 30px;
     margin-top: 48vh;
     margin-left: 42vw;
      position: absolute;
      color: #FFFFFF;
      letter-spacing: 0.3px;
  
  }
  .overview-section,.mission-section{
   background-color: #eaeaea;;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      line-height: 2;
      padding: 40px;    
  }
  .overview-section p{
    font-size: 17 px;
    font-weight: 350;
    line-height: 2.2;
  
  
  }
  .overview-section h2{
    font-size: 30px;
  font-weight: 600;
  margin-bottom: 1em;
  }
  .mission-section{
  
    height: 70vh;
    background-image: url("./Images/Goal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    color: #212121;
    text-align: center;
  }
  .mission-section h2{
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: 600;
  }
  .mission-section p{
    color: #212121;
    width: auto;
    font-size: 18px;
    text-align: left;
    margin-left: 400px;
  font-weight: 400;
  line-height: 2;
 
  }
@media screen and (max-width: 768px) {
  .top-section{
    height: 30vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./Images/about1.jpg');
    }

    .top-section p{
        font-size: 25px;
       margin-top: 20vh;
       margin-left: 38vw;
       
    
    }
    .overview-section h2{
      font-size: 25px;

    }
    .overview-section p{
      font-size: 12px;
      font-weight: 350;
      line-height: 1.8;
    
    
    }
    .mission-section{
    
      height: 50vh;
    }
    .mission-div {
      margin-top: -2vh;
      margin-left: -4vw;
    }

    .mission-section h2{
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: 600;
      margin-left: 165px;
      }

      .mission-section p{
        color: #212121;
        width: 180px;
        font-size: 9px;
        text-align: left;
        margin-left: 180px;
      font-weight: 400;
      line-height: 1.4;
      margin-right: 2vh;
      }
    }
    @media screen and (max-width: 360px) {
      
      .mission-section p{
        font-size: 8px;
        margin-left: 170px;
      }
      .mission-section h2{
        margin-bottom: 5px;
        margin-left: 200px;
      }
    }